<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= moduleName %> - X-Tag</title>

  <link rel="stylesheet" type="text/css" href="x-tag-components.css"/>
  <link rel="stylesheet" type="text/css" href="../src/<%= fileName %>.css"/>

  <script src="x-tag-components.js"></script>
  <script src="../src/<%= fileName %>.js"></script>


  <style>

  </style>
</head>

<body id="app">

<% if(componentType == 'Element') {%>
  <<%= tagName %>></<%= tagName %>>
<% } %>
</body>

<script>

  document.addEventListener('DOMComponentsLoaded', function(){

  });

</script>

</html>
